{% form_theme form 'JSAppBundle:Components:bootstrap_3_layout.html.twig' %}
{#{{ form(form) }}#}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="box box-primary">
    <div class="box-header with-border">
        <div class="row">

            <div class="col-md-12">
                <button type="submit" class="btn btn-success btn-flat pull-right" data-action-type=save><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
                <button type="reset" class="btn btn-default  btn-flat pull-right" data-action-type=reset><i class="fa fa-undo"></i>&nbsp;&nbsp;Cancel</button>
            </div>

        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">



        <div class="row js-person-identification">
            <div class="col-md-12">
                <h3>Identification</h3>
                {{ form_row(form.personne.image) }}
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                {{ form_row(form.personne.titre) }}
                {{ form_row(form.personne.prenom) }}
                {{ form_row(form.personne.telephone) }}
                {{ form_row(form.personne.ville) }}
                {{ form_row(form.personne.codePostale) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.personne.nom) }}
                {{ form_row(form.personne.email) }}
                {{ form_row(form.personne.pays) }}
                {{ form_row(form.personne.etat) }}
                {{ form_row(form.personne.adresse) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Institution</h3>
            </div>
            <div class=" col-md-6 js-auteur-institution">

                {{ form_row(form.personne.institution) }}

                {{ form_row(form.personne.affiliation) }}
            </div>
            <div class=" col-md-6 js-auteur-institution">
                {{ form_row(form.personne.departement) }}
            </div>

        </div>
        {#{{ form_rest(form) }}#}


        <!-- /.mail-box-messages -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <div class="row">

            <div class="col-md-12">
                <button type="submit" class="btn btn-success btn-flat pull-right" data-action-type=save><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
                <button type="reset" class="btn btn-default  btn-flat pull-right" data-action-type=reset><i class="fa fa-undo"></i>&nbsp;&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}

