{% extends('JSAppBundle:Emails:base_email.html.twig') %}
{% block maincontent %}
    <h4 class="salutation">Dear {{ user.personne.prenom }} {{ user.personne.nom}},</h4>
    <div style="clear: both"></div>
    <p>Thank you for having submitted your review on the manuscript bellow on our platform.
        Our Editor are already working on it.
</p>

    <p>Here is a summary of your review</p>

    <p><strong>Title:</strong> {{ review.titre }}</p>
    <p><strong>Content:</strong> {{ review.content | raw }}</p>

    <p>Attachements are joint to this mail.</p>

    <p>Best Regards!</p>

    <a href="{{ url("js_login") }}" class="btn btn-success" >Journal Scientifique</a>
    <div style="clear: both"></div>

{% endblock %}

{% block footer %}
    <footer class="main-footer">
             All rights reserved.
        <!-- /.container -->
    </footer>
{% endblock %}
